
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
body{
    background: linear-gradient(to right,rgb(57,55,55) 0,rgb(57,55,55) 50%,black 50%,black 100%);
}






header{
    /* border: 2px solid red; */
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    height: 40px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 16%;
    background: black;
    position: sticky;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
}
#user-icon{
    /* border: 2px solid red; */
    font-weight: 600;
    cursor: not-allowed;
    display: flex;
    animation: slideTop 1s ease forwards;
    background: linear-gradient(60deg,pink,cyan,orange);
    z-index: 1;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#menu-icon{
    cursor: pointer;
    font-size: 25px;
    display: none;
}
.nav-bar{
    /* border: 2px solid red; */
    display: flex;
    transition: .5s ease;
}
.nav-bar:hover{
    cursor: pointer;
}
.nav-bar li a{
    /* border: 2px solid red; */
    font-size: large;
    font-weight: 600;
    margin-left: 15px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}
.nav-bar li a:hover{
    background: linear-gradient(60deg,pink,cyan,orange);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.nav-bar li a.active{
    background: linear-gradient(60deg,pink,cyan,orange);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.nav-bar li a:focus{
    background: linear-gradient(60deg,pink,cyan,orange);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}









     /* -----HOME----- */


.container{
    /* border:2px solid red; */
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----HOME LEFT----- */
.container .container-lft{
    /* border: 2px solid cyan; */
    background-color: rgb(57, 55, 55);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .container-lft .home-lft{
    width: 100%;
    /* border: 2px solid cyan; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}
.container .container-lft .home-lft .icon{
    /* border: 2px solid red; */
    height: 100%;
    margin: 0 15px;
    /* padding: 10px 0; */
    display: block;
    align-items: center;
    justify-content: space-between;
}
.container .container-lft .home-lft .icon a{
    /* border: 2px solid rgb(255, 72, 0); */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: relative;
    font-size: large;
    color: beige;
    background: linear-gradient(60deg,cyan,red);
    border-radius: 50%;
    text-decoration: none;
    z-index: 1;
}
.container .container-lft .home-lft .icon a:nth-child(1){
    opacity: 0;
    animation: slideBottom1 1s ease forwards;
    animation-delay: 1.7s;
}
.container .container-lft .home-lft .icon a:nth-child(2){
    opacity: 0;
    animation: slideRight1 1s ease forwards;
    animation-delay: 2s;
}
.container .container-lft .home-lft .icon a:nth-child(3){
    opacity: 0;
    animation: slideTop1 1s ease forwards;
    animation-delay: 2.3s;
}
.container .container-lft .home-lft .icon a::after{
    content: '';
    position: absolute;
    border-radius: 35%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgb(57, 55, 55);
    transform: scale(.85);
}
.container .container-lft .home-lft .icon a:hover i{
    color: black;
}
.container .container-lft .home-lft .icon a:hover{
    box-shadow: 0 0 20px red;
}
.container .container-lft .home-lft .icon a:hover:after{
    transform: scale(0);
}
.container .container-lft .home-lft .details{
    /* border: 2px solid red; */
    max-width: 300px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.container .home-lft .details h2{
    /* border: 2px solid red; */
    color: pink;
    opacity: 0;
    animation: slideRight 1.5s ease forwards;
    animation-delay: .5s;
    text-align: center;
}
.container .home-lft .details p{
    /* border: 2px solid red; */
    font-size: small;
    margin: 5px 0;
    line-height: 1rem;
    opacity: 0;
    animation: slideLeft 2s ease forwards;
    animation-delay: .8s;
}
.container .home-lft .details .hire{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .home-lft .details .btn-btn{
    /* border: 2px solid red; */
    margin: 10px 0;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 130px;
    height: 40px;
    line-height: 1rem;
    letter-spacing: .5px;
    font-weight: 900;
    font-size: 19px;
    color: red;
    /* background-color: aqua; */
    border-radius: 40px;
    z-index: 1;
    opacity: 0;
    animation: slideTop 2.4s ease forwards;
    animation-delay: .7s;
}

.container .home-lft .details .btn-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;    
    background: linear-gradient(60deg,cyan,pink,orange);
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    transition: .5s ease-in-out;
    background-position: 0 0;
    filter: blur(5px);
    /* box-shadow: inset 3px 3px 2px black, inset -3px -3px 2px white; */
}
.container .home-lft .details .btn-btn:hover:before{
    background-position: 100% 0;
    cursor: pointer;
}
.container .home-lft .details .btn-btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;    
    background: linear-gradient(60deg,cyan,pink,orange);
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    transition: .5s ease-in-out;
    background-position: 0 0;
    /* box-shadow: inset 3px 3px 2px black, inset -3px -3px 2px white;  */
}
.container .home-lft .details .btn-btn:hover::after{
    background-position: 100% 0;
    cursor: pointer;
}





/* ------HOME RIGHT------ */
.container .home-rit{
    width: 50%;
    /* border: 2px solid cyan; */
    display: flex;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .home-rit .img{
    height: 300px;
    width: 300px;
}
.container .home-rit .img .circle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(60deg,rgb(255, 89, 0),yellow,red);
    overflow: hidden;
    opacity: 0;
    animation: zoom 2s ease forwards,float 3s ease-in-out infinite;
    animation-delay: 2s,3s;
}
.container .home-rit .img .circle::after{
    content: '';
    background: #000;
    position: absolute;
    border-radius: 50%;
    width: 95%;
    height: 95%;
}

.container .home-rit .circle .img-con{
    position: relative;
    width: 285px;
    height: 285px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}
.container .home-rit .img .img-con img{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    max-width: 280px;
    object-fit: cover;
}










/* ----------ABOUT---------- */

.container-about{
    /* border:2px solid red; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}









/* ----------ABOUT LEFT---------- */

.container-about .container-lft{
    /* border: 2px solid cyan; */
    background-color: rgb(57, 55, 55);
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-about .container-lft .about-lft{
    /* border: 2px solid rgb(224, 230, 230); */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}
.container-about .container-lft .about-lft .img{
    border: 1px solid rgba(127, 128, 128, 0.325);
    border-radius: 20%;
    box-shadow: 0 0 25px rgba(127, 128, 128, 0.325);
    width: 200px;
    height: 200px;
    overflow: hidden;
    animation:float 3s ease-in-out infinite;
    animation-delay: 0s;
}
.container-about .container-lft .about-lft .img img{
    width: 200px;
    height: 200px;
}














/* -----------ABOUT RIGHT----------- */


.container-about .about-rit{
    /* border: 2px solid cyan; */
    height: 100vh;
    width: 50%;
    display: flex;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-about .about-rit .about-dtls{
    /* border: 2px solid cyan; */
    width: 300px;
}
.container-about .about-rit .about-dtls .me{
    /* border: 2px solid red; */
    margin: 15px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(60deg,yellow,fuchsia);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
.container-about .about-rit .about-dtls h2.abou-t{
    /* border: 2px solid red; */
    margin: 0 15px;
}
.container-about .about-rit .about-dtls .mid{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.container-about .about-rit .about-dtls .mid span{
    color: cyan;
    font-size: 24px;
    font-weight: 600;
}
.container-about .about-rit .about-dtls p{
    /* border: 2px solid red; */
    width: 100%;
    margin: 15px 10px;
    font-size: 15px;
    line-height: 1.5rem;
}
.container-about .about-rit .about-dtls .skill{
    /* border: 2px solid red; */
    width: 100%;
}
.container-about .about-rit .about-dtls .skill .myskill{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
}
.container-about .about-rit .about-dtls .skill .myskill h5{
    width: 50%;
    margin: 10px;
    margin-right: 0;
}
.container-about .about-rit .about-dtls .cv{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.container-about .about-rit .about-dtls .cv a{
    /* border: 1px solid red; */
    border-radius: 10px;
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-weight: 600;
    background: linear-gradient(50deg,yellow,cyan,red);
    color: #020202;
    text-transform: uppercase;
}
.container-about .about-rit .about-dtls .cv a:hover{
    box-shadow: 0 0 25px rgba(197, 195, 195, 0.54);
    background: linear-gradient(50deg,red,yellow,cyan);
}














/* --------PROJECT-------- */

.p-container{
    /* border: 2px solid red; */
    pad: 10px 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.p-container .card{
    border: 1px solid rgba(231, 146, 146, 0.168);
    border-radius: 20px;
    width: 250px;
    height: 370px;
    margin: 15px;
    transition: .5s;
    padding: 5px;
    padding-left: 10px;
    padding-top: 10px;
    background: rgba(197, 195, 195, 0.168);
    box-shadow: inset 5px 5px 2px rgba(197, 195, 195, 0.54),5px 5px 2px rgba(197, 195, 195, 0.54);
}
.p-container .card:hover{
   border: gray;
   width: 260px;
   cursor: pointer;
}
.p-container .card img{
    border: .5px solid rgba(255, 255, 255, 0.099);
    border-radius: 20px;
    width: 80%;
    height: 190px;
    margin: 5px;
    margin-left: 20px;
    transition: .5s ease;
}
.p-container .card .mid{
    /* border: 2px solid rgb(99, 160, 95); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
    padding: 0 5px;
}
.p-container .card .mid h2{
    color: red;
}
.p-container .card .mid a{
    /* border: 2px solid red; */
    height: 15px;
    width: 26px;
    border-radius:55% ;
    color: red;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-container .card .mid a:hover{
    box-shadow: 0 0 20px cyan;
}
.p-container .card .card-flex{
    /* border: 2px solid cadetblue; */
    box-shadow: inset 3px 3px 2px black,3px 3px 2px rgba(0, 0, 0, 0.427);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 110px;
    border-radius: 20px;
    margin: 5px;
}
.p-container .card .card-flex p{
    font-size: 15px;
    max-width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    border-radius: 20px;
    text-align: left;
    margin: 10px;
    margin-top: 17px;
    padding-top: 10px;
}






/* ----------CONTACT----------- */


.contact{
    /* border: 2px solid rgb(226, 5, 5); */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .contact-me{
    animation: float 3s ease-in-out infinite;
    border: none;
    border-radius: 20px;
    width: 390px;
    height: 460px;
    padding: 0 10px;
    box-shadow:inset 0 0 20px red,0 0 20px rgba(255, 255, 255, 0.23);
}
.contact .contact-me .heading {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5rem;
    background: linear-gradient(90deg,cyan,yellow);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.contact .contact-me .form .input-box {
    /* border: 2px solid red; */
    width: 100%;
    height: 40px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .contact-me .form .input-box input{
    border: 2px solid red;
    height: 100%;
    width: 50%;
    margin: 5px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: black;
    font-size: medium;
    font-weight: 300;
}
.contact .contact-me .text-area {
    /* border: 2px solid rgb(226, 5, 5); */
    width: 100%;
    margin-bottom: 5px;
}
.contact .contact-me .text-area textarea{
    border: 2px solid red;
    resize: none;
    width: 98%;
    margin: 5px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: medium;
    font-weight: 300;
    background-color: black;
}
.contact .contact-me .form .btn-submit {
    /* border: 2px solid red; */
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .contact-me .form .btn-submit input {
    border: 2px solid red;
    border-radius: 10px;
    width: 50%;
    height: 100%;
    font-size: medium;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: black;
    cursor: pointer;
}
.contact .contact-me .form .btn-submit input:hover {
    border: 2px solid white;
}













/* ----------END---------- */

.last{
    background: black;
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
    height: 30px;
    font-size: 25px;
}
.last a{
    color: dodgerblue;
}












@media (max-width: 1325px){
    header{
        padding: 16px 3%;
    }
    section{
        padding: 130px 3% 60px;
    }
}
@media (max-width: 770px) {
    #menu-icon{
        display: block;
    }
    section{
        padding:70px 3% 60px;
    }
    .nav-bar{
        position: absolute;
        width: 100%;
        top: -600px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        transition: all .5s ease;
        background: rgba(197, 195, 195, 0.322);
        border-radius: 10px ;
    }
    .nav-bar li{
        /* border: 2px solid yellow; */
        margin: 10px 15px;
    }
    .nav-bar li a{
        border: 2px solid transparent;
        border-radius: 10px;
        display: block;
        padding: 10px;
    }
    .nav-bar li a:hover{
        border: 2px solid red;
    }
    .nav-bar.active-nav{
        top: 100%;
    }
    #close-btn:hover{
        cursor: pointer;
    }
    
    
}























@keyframes slideTop {
    0%{
        opacity: 0;
        transform: translatey(100px);
    }
    100%{
        opacity: 1;
        transform: translatey(0);
    }
    
}
@keyframes slideBottom {
    0%{
        opacity: 0;
        transform: translatey(-100px);
    }
    100%{
        opacity: 1;
        transform: translatey(0);
    }
    
}
@keyframes slideRight {
    0%{
        opacity: 0;
        transform: translatex(-100px);
    }
    100%{
        opacity: 1;
        transform: translatex(0);
    }
    
}
@keyframes slideLeft {
    0%{
        opacity: 0;
        transform: translatex(100px);
    }
    100%{
        opacity: 1;
        transform: translatex(0);
    }
    
}
@keyframes slideTop1 {
    0%{
        opacity: 0;
        transform: translatey(70px);
    }
    100%{
        opacity: 1;
        transform: translatey(0);
    }
    
}
@keyframes slideBottom1 {
    0%{
        opacity: 0;
        transform: translatey(-70px);
    }
    100%{
        opacity: 1;
        transform: translatey(0);
    }
    
}
@keyframes slideRight1 {
    0%{
        opacity: 0;
        transform: translatex(-70px);
    }
    100%{
        opacity: 1;
        transform: translatex(0);
    }
    
}
@keyframes zoom {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes float {
    0%{
        transform: translate(0);
    }
    50%{
        transform: translatey(-5px);
    }
    100%{
        transform: translatex();
    }
}